@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#navMenu {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(69, 242, 255, 1) 0%,
    rgba(77, 149, 255, 1) 53%,
    rgba(173, 241, 255, 1) 99%
  );
}
